<div class="offset2 span8 offset2" style="height:60px;margin-top:-15px;">
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script>
  (function() {
    var cx = '008801521170171928035:wg7cvrp39sg';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</div>
